<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8" />
<title>Thymeleaf Example</title>
</head>
<body>
<a data-th-href="@{/thlf/}">back</a>

<hr />
<p>th:fragment, th:include with &quot;templatename :: selector&quot;</p>
<div data-th-include="thlf/fragments-sub::copyright">copy right template</div>

<hr />
<p>th:fragment, th:replace with &quot;templatename :: selector&quot;</p>
<div data-th-replace="thlf/fragments-sub::copyright">copy right template</div>

<hr />
<p>th:fragment, th:replace with &quot;templatename :: selector&quot;, load same fragments twice.</p>
<div data-th-replace="thlf/fragments-sub :: copyright">copy right template</div>

<hr />
<p>id attribute, th:replace with &quot;templatename :: #id-selector&quot;</p>
<div data-th-replace="thlf/fragments-sub :: #submenu">submenu template</div>

<hr />
<p>th:fragment, th:replace with &quot;templatename&quot;</p>
<div data-th-replace="thlf/fragments-sub2">templatename</div>

<hr />
<p>th:fragment, th:replace with &quot;::selector&quot;</p>
<div data-th-replace="::fr1">fr1</div>

<hr />
<p>th:fragment, th:replace with &quot;::#id-selector&quot;</p>
<div data-th-replace="::#fr1-by-id">fr1</div>

<hr />
<p>th:fragment, th:replace with &quot;thlf/fragments-sub :: fr-with-args(arguments)&quot;</p>
<div data-th-replace="thlf/fragments-sub :: fr-with-args(${str1}, ${str2}, ${str3})"></div>

<hr />
<p>th:fragment, th:replace with &quot;thlf/fragments-sub :: fr-with-args(named arguments)&quot;</p>
<div data-th-replace="thlf/fragments-sub :: fr-with-args(s3=${str1}, s1=${str2}, s2=${str3})"></div>

<hr />
<p>th:fragment, th:replace with &quot;thlf/fragments-sub :: fr-without-args(named arguments)&quot;</p>
<div data-th-replace="thlf/fragments-sub :: fr-without-args(s3=${str1}, s1=${str2}, s2=${str3})"></div>

<hr />
<p>th:fragment, th:replace with &quot;thlf/fragments-sub :: fr-without-args(no-args)&quot;</p>
<div data-th-replace="thlf/fragments-sub :: fr-without-args"></div>

<hr />
<p>conditional admin / no-admin menu.</p>
<div data-th-replace="thlf/fragments-sub :: (${isAdmin} ? menu-admin : menu-no-admin)">admin / no-admin</div>

<hr />
fragment in same parge:fr1
<div data-th-fragment="fr1" id="fr1-by-id">
<ol>
<li>item1</li>
<li>item2</li>
<li>item3</li>
</ol>
</div>

</body>
</html>